:root {
  --color-dark: #1f2937;
  --color-grey: #e5e7eb;
  --color-light: #f9faf8;
  --color-blue: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 36px 0;
  text-align: center;
}
