:root {
  --color-blue: #3882f6;
  --color-dark: #1f2937;
  --color-dark-grey: #6d747d;
  --color-grey: #e5e7eb;
  --color-light: #f9faf8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

main {
  flex: 1;
}

/*
header
 */

header {
  background-color: var(--color-dark);
  width: 100%;
}

.header {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 24px 0;
  width: 960px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  align-items: center;
  color: var(--color-grey);
  display: flex;
  gap: 24px;
  list-style-type: none;
}

/* 
hero
 */

.hero-section {
  background-color: var(--color-dark);
  padding: 100px 0;
}

.hero-container {
  display: flex;
  gap: 24px;
  margin: auto;
  width: 960px;
}

.hero-text {
  color: var(--color-light);
  flex: 1;
  font-size: 28px;
}

.hero-subtext {
  color: var(--color-grey);
  font-size: 16px;
  margin-top: 6px;
}

.hero-button {
  background-color: var(--color-blue);
  border-radius: 6px;
  border: none;
  color: var(--color-light);
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  padding: 6px 24px;
}

.hero-image {
  background-color: var(--color-dark-grey);
  color: var(--color-light);
  display: flex;
  flex: 1;
}

.hero-image > p {
  margin: auto;
  font-size: 14px;
}

/* 
footer
 */

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 36px 0;
  text-align: center;
}
